backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
bs4==0.0.1
chardet==2.3.0
cryptography==1.2.3
enum34==1.1.2
idna==2.0
ipaddress==1.0.16
M2Crypto==0.22.6rc4
ndg-httpsclient==0.4.0
ofed-le-utils==1.0.3
pssh==2.3.1
pyasn1==0.1.9
pycurl==7.43.0
PyMySQL==0.9.3
pyOpenSSL==0.15.1
requests==2.9.1
simplejson==3.16.0
six==1.10.0
soupsieve==1.8
urllib3==1.13.1
wget==3.2
